body {
  font-family: "Zilla Slab", serif;
  background: #d7ccc8;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

li a {
  color: #3e2723;
}

li a:hover {
  color: #8d6e63;
}

.bold {
  font-weight: 700;
}

.image {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 30px auto;
    border-radius: 10px;
}
